<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Please login to view our site</h2>
    <a href="/login">Login</a>

    <!-- <form action="/" method="post">
     <h2>You are logged in as:{{username}}</h2>
    </form> -->

  </body>
</html>
